<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Listado de Actores y Actrices</title>
        <link rel='stylesheet' href='/css/style.css' />

    </head>

    <body>
        <figure class="logo">
            <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
        </figure>
        <br>
        <h1>LISTADO DE ACTORES / ACTRICES</h1>
        <br>
        <ul>
            <% for( let i = 0; i < actors.length; i++ ) { %>
            <li>
                <a href="/actors/detail/<%= actors[i].id %>"><%= actors[i].first_name + " " + actors[i].last_name  %></a>
            </li>
            <% } %>
        </ul>
        <br>
        <a href="/actors/add"><button>Agregar Actor / Actriz</button></a>
    </body>

</html>