<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrado de Actor o Actriz</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <figure class="logo">
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
      </figure>
    <h1>Estas seguro de querer borrar este Actor / Actriz: <%= actor.first_name + " " + actor.last_name %>???</h1>
    <p>
        <form action="/actors/delete/<%= actor.id %>?_method=DELETE" method="POST">
            <br>
            <p> 
                <button class="botonBorrar" type="submit">Borrar el Actor o la Actriz</button>
                <br>
                <br>
                <a  class="botonVolver" href="/actors">Listado de Actores o Actrices</a>
            </p>

        </form>
    </p>
    
</body>

</html>